@*@model List<PlayerViewModel>

@{
    <link href="~/css/site.css" rel="stylesheet" />
}

<div>
    @Html.HiddenFor(m => m.Id)
    <label asp-for="Firstname"></label>
    <input asp-for="Firstname" />

    <label asp-for="Lastname"></label>
    <input asp-for="Lastname" />

    <label asp-for="Team"></label>
    <input asp-for="Team" />

    <label asp-for="League"></label>
    <input asp-for="League" />

    <label asp-for="Nation"></label>
    <input asp-for="Nation" />

    <label asp-for="Position"></label>
    <input asp-for="Position" />

    <label asp-for="Pace"></label>
    <input asp-for="Pace" />

    <label asp-for="Shooting"></label>
    <input asp-for="Shooting" />

    <label asp-for="Passing"></label>
    <input asp-for="Passing" />

    <label asp-for="Dribbling"></label>
    <input asp-for="Dribbling" />

    <label asp-for="Defending"></label>
    <input asp-for="Defending" />

    <label asp-for="Physicality"></label>
    <input asp-for="Physicality" />
</div>*@