@model List<PlayerViewModel>

@{

    <link href="~/css/site.css" rel="stylesheet" />
}

<h1>Players</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Team</th>
        <th>League</th>
        <th>Nation</th>
        <th>Position</th>
        <th>Pace</th>
        <th>Shooting</th>
        <th>Passing</th>
        <th>Dribbling</th>
        <th>Defending</th>
        <th>Physicality</th>
    </tr>

    @Html.DisplayForModel("DisplayPlayers")

</table>
<br />

    @Html.ActionLink("Add", "Add", "Players")



