@{
    <link href="~/css/site.css" rel="stylesheet" />

}



<p>This page will show all existing players</p>

<table>
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Nation</th>
        <th>Team</th>
        <th>League</th>
    </tr>
</table>